<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <h3>Do you like PrimeNG?</h3>
  <input type="radio" id="yes" value="yes" v-model="library">
  <label for="no"> yes</label>
  <br>
  <input type="radio" id="no" value="no" v-model="library">
  <label for="no"> no</label>

  <br>
  <div v-if="library">
    <p v-if="library === 'yes'" class="thumbs">👍</p>
    <p v-else>you're a monster</p>
  </div>
</div>
<script type="text/javascript">
  new Vue({
    el: '#app',
    data() {
      return {
        library: ''
      }
    }
  })
</script>
</body>
</html>